*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif ;
}
body{
    background-color:#81db80;
    color: white;
}
#one{
    display :flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100%;
   
    background-color: rgb(11, 11, 65);
}
nav ul  {
    display: flex;
    justify-content:center;
}
nav ul a{
    list-style:none;
    margin: 0 23px;
    text-decoration: none;
    color:aqua;
}
.left{
    font-size: 1.5rem;